<!doctype html>
<html ng-app="app">
<head lang="en" ng-controller="indexController">
    <title>{{ appName }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="Content/ng-table.min.css" />



</head>
<body ng-controller="indexController">
    <h1>{{ appName }}</h1>


    <form class="container-fluid">

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 col-xs-6  col-sm-12">
                    <label for="employeeIdTextbox">Type Employee Id to Search</label>
                </div>
                <div class="col-md-3 col-xs-3  col-sm-12">
                    <input type="text" class="form-control" id="employeeIdTextbox" ng-model="search.employeeId" />
                </div>
                <div class="col-xs-3 col-md-6 col-sm-12">
                    <button type="button" class="btn btn-primary" id="getbyIdButtom" ng-show="search.employeeId.length>0" ng-click="getById()">Get Employees (by Id)</button>

                    <button type="button" class="btn btn-primary" id="getallButtom" ng-show="search.employeeId==null || search.employeeId.length==0" ng-click="getAllExternal()">Get Employees (All)</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <b>Results</b>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div id="noEntriesFoundBlock" class="search_msg" ng-show="dataTable.data.length == 0 && !searching">
                    <p>No Data found according your search criteria</p>
                </div>
            </div>
        </div>



        <div id="dataGridContainer" class="table">
            <table ng-table="dataTable" ng-hide="dataTable.data.length == 0">
                <thead>
                    <tr>
                        <th>Employee Id.</th>
                        <th>Document Number</th>
                        <th>FullName</th>
                        <th>Payment Value</th>
                        <th>Contract Type Name</th>
                        <th>AnnualSalary</th>

                    </tr>

                </thead>

                <tbody>
                    <tr ng-repeat="row in $data">
                        <td data-title="EmployeeId" sortable="'EmployeeId'">
                            <div>{{row.EmployeeId }}</div>
                        </td>
                        <td header-class="'table_header'" data-title="DocumentNumber" sortable="'DocumentNumber'">
                            <div>{{row.DocumentNumber }}</div>
                        </td>
                        <td header-class="'table_header'" data-title="FullName" sortable="'FullName'">
                            <div>{{row.FullName }}</div>
                        </td>
                        <td header-class="'table_header'" data-title="PaymentValue" sortable="'PaymentValue'">
                            <div>{{row.PaymentValue }}</div>
                        </td>
                        <td header-class="'table_header'" data-title="ContractTypeName" sortable="'ContractTypeName'">
                            <div>{{row.ContractTypeName }}</div>
                        </td>
                        <td header-class="'table_header'" data-title="AnnualSalary" sortable="'AnnualSalary'">
                            <div>{{row.AnnualSalary }}</div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>


                </tfoot>
            </table>
        </div>

    </form>

    <script type="text/javascript" src="Scripts/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="Scripts/umd/popper.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js" crossorigin="anonymous"></script>


    <script type="text/javascript" src="Scripts/ng-table.min.js"></script>

    <script type="text/javascript" src="pages/common/app.js"></script>
    <script type="text/javascript" src="pages/common/app.controllers.js"></script>
    <script type="text/javascript" src="pages/common/app.services.js"></script>

    <script type="text/javascript" src="pages/common/indexController.js"></script>
    <script type="text/javascript" src="pages/common/indexService.js"></script>
</body>
</html>
