<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MasGlobal handOn Web Api</title>
</head>
<body>
    <h1>MasGlobal HandsOn Web Api</h1>
    <h2>This Web Site Is oly Used For Expose Web Api Purpouses</h2>
    <h2>Front End Application Should be started Using MasGlobsl.HandsOn.View.Web </h2>
    <a href="/api/Employee/GetAll">Test Web Api api/Employee/GetAll</a>
</body>
</html>